<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/hello.css">
    <title>Login</title>
    <head>
<body>

</body>
</html>

<div>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
    <form action="" method="post">
        <label>USERNAME</label><hr>
        <input name="username" type="email" placeholder="write your username"><br><br>
        <label>PASSWORD</label><hr>
        <input name="password" type="password" placeholder="write your password"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
<form action="/register">
    <label>New Here?</label>
    <input value="Register" type="submit">
</form>
</div>