<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Login</title>
    <head>
<body>
<div>
    <form method="post">
        <label>NAME</label><hr>
        <input name="one" type="text" id="name"><br><br>
        <label>USERNAME</label><hr>
        <input name="two" type="email" id="username"><br><br>
        <input type="submit" value="CREATE USER"><br><br>
    </form>
</div>

</body>
</html>